<h1 class="m-4">Modifier l'acteur</h1>

<%= render "form", acteur: @acteur %>

<br>

<div class="mx-5 mb-5">
<%= link_to "Voir l'acteur", @acteur %> |
<%= link_to "Retour à la page d'accueil", acteurs_path %>
</div>
