<p class="m-4" style="color: red"><%= notice %></p>

<h1 class="m-5">Acteurs</h1>

<div id="acteurs" class="m-5 d-flex">
  <% @acteurs.each do |acteur| %>
    <div class="card m-5" , style="width: 18rem;">
    <div class="m-4">
    <%= render acteur %>
    </div>
    <p class="mx-4">
      <%= link_to "Découvrir cet acteur", acteur , class:"btn btn-outline-dark"%>
    </p>
    </div>
  <% end %>
</div>

<%= link_to "Créer un nouvel acteur", new_acteur_path , class:"mx-5 btn btn-outline-success"%>
