<h1 class="my-5">Acteurs</h1>

<div id="acteurs" class="row">
  <% @acteurs.each do |acteur| %>
    <div class="col-lg-4">
      <%= render acteur %>
    </div>
  <% end %>
</div>

<%= link_to "Créer un nouvel acteur", new_acteur_path , class:"mb-5 btn btn-outline-success"%>
